<p id="notice"><%= notice %></p>

<p>
  <strong>Host:</strong>
  <%= @mc_mt_host_metric_result.host_id %>
</p>

<p>
  <strong>Metric name:</strong>
  <%= @mc_mt_host_metric_result.metric_name %>
</p>

<p>
  <strong>From at:</strong>
  <%= @mc_mt_host_metric_result.from_at %>
</p>

<p>
  <strong>To at:</strong>
  <%= @mc_mt_host_metric_result.to_at %>
</p>

<p>
  <strong>Result:</strong>
  <%= @mc_mt_host_metric_result.result %>
</p>

<%= link_to 'Edit', edit_mc_mt_host_metric_result_path(@mc_mt_host_metric_result) %> |
<%= link_to 'Back', mc_mt_host_metric_results_path %>
