<%= form_with(model: mc_mt_host_metric_time_range) do |form| %>
  <% if mc_mt_host_metric_time_range.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mc_mt_host_metric_time_range.errors.count, "error") %> prohibited this mc_mt_host_metric_time_range from being saved:</h2>

      <ul>
        <% mc_mt_host_metric_time_range.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :host_id %>
    <%= form.number_field :host_id %>
  </div>

  <div class="field">
    <%= form.label :from_at %>
    <%= form.datetime_select :from_at %>
  </div>

  <div class="field">
    <%= form.label :to_at %>
    <%= form.datetime_select :to_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
