<p id="notice"><%= notice %></p>

<h1>Mc Mt Hosts</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mc_mt_hosts.each do |mc_mt_host| %>
      <tr>
        <td><%= mc_mt_host.display_name %></td>
        <td><%= link_to 'Show', mc_mt_host %></td>
        <td><%= link_to 'Edit', edit_mc_mt_host_path(mc_mt_host) %></td>
        <td><%= link_to 'Destroy', mc_mt_host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mc Mt Host', new_mc_mt_host_path %>
